
.edit_here
{
	/* TODO:edit here */

}

.RightSecond-module__memo_box___TS9Ea .RightSecond-module__memo_top___oRi4T {
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 7px 9px !important;
    border-radius: 8px 8px 0 0 !important;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00b869), to(#00c772)) !important;
    background-image: -o-linear-gradient(bottom, #00b869, #00c772) !important;
    background-image: linear-gradient(to top, #00b869, #00c772) !important;
    line-height: 34px !important;
}

