
.edit_here
{
	/* TODO:edit here */

}

.label_underline
{
}
.label_underline:hover
{
	text-decoration-line: underline !important;
}

.view_in_label_underline
{
}
.view_in_label_underline:hover > label
{
	text-decoration: underline !important;
}

.view_in_all_label_underline
{
}
.view_in_all_label_underline label:hover
{
	text-decoration: underline !important;
}

.my_login_color
{
}
.my_login_color:hover
{
	background-color: #17b75e !important;
	box-shadow: 0 2px 4px 0 rgba(3,199,90,.24) !important;
}

.my_view_underline
{
}
.my_view_underline > div:hover > label
{
	text-decoration-line: underline !important;
}

.all_line_underline
{
}
.all_line_underline:hover label
{
	text-decoration: underline !important;
}

.footer_banner_underline
{
}
.footer_banner_underline:hover div:nth-child(2) label:nth-child(2)
{
	text-decoration: underline !important;
}

.scale_img
{
	opacity: 1 !important;
}
.scale_img div:hover > img
{
	transform: scale(1.1) !important;
	transition: transform 0.2s ease !important;
}

.weather_info_hover
{
}
.weather_info_hover:hover div
{
	    background-position: -131px -400px !important;
}

.refresh_btn_hover
{
}
.refresh_btn_hover:hover div
{
	background-position: -336px -358px !important;
}

.service_icon_hover
{
}
.service_icon_hover div:hover div div div:nth-child(1)
{
	    position: absolute !important;
    top: -3px !important;
    left: -5px !important;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
    background-size: 433px 412px !important;
    background-position: -142px 0px !important;
    background-repeat: no-repeat !important;
    width: 58px !important;
    height: 58px !important;
}
.service_icon_hover div:nth-child(10):hover div div div:nth-child(1)
{
	    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
    background-size: 433px 412px !important;
    background-position: 0px -69px !important;
	    position: absolute !important;
    top: -3px !important;
    left: -5px !important;
}

.stock_item_underline
{
}
.stock_item_underline div:hover div > label
{
	text-decoration: underline !important;
}

.today_english
{
}
.today_english:hover div:nth-child(2) label
{
	display: none !important;
}

.today_english_trans
{
}
.today_english_trans:hover label
{
	display: block !important;
}

.keybord_icon
{
}
.keybord_icon:hover button
{
	    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
    background-size: 433px 412px !important;
    background-position: -229px -254px !important;
}
.keybord_icon:hover div
{
	display: block !important;
}

.tooltip_box
{
}
.tooltip_box:hover div
{
	display: inline-block !important;
}

.toggle_display
{
	display: none !important;
}

.toggle_display.on
{
	display: block !important;
}

.toggle_shortcut_area
{
	position: relative !important;
	width: 676px !important;
	margin: 72px auto 0px !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.toggle_shortcut_area.on
{
	position: absolute !important;
    top: 50px !important;
    left: 50% !important;
    width: 708px !important;
    height: 364px !important;
    background-color: #fff !important;
    z-index: 100 !important;
    padding: 20px 15px 20px 16px !important;
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px #e3e5e8, 0 4px 8px 0 rgba(0,0,0,.3) !important;
    box-sizing: border-box !important;
    transform: translate(-50%) !important;
}

.toggle_more_icon
{
		content: "" !important;
	display: block !important;
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	margin: auto !important;
	background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
	background-size: 433px 412px !important;
	background-position: -250px -135px !important;
	background-repeat: no-repeat !important;
	width: 44px !important;
	height: 44px !important;
	background-color: rgba(0, 0, 0, 0) !important;
}
.toggle_more_icon.on
{
	    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
    background-size: 433px 412px !important;
    background-position: -147px -379px !important;
    background-repeat: no-repeat !important;
    width: 20px !important;
    height: 20px !important;
}

.view_list_hover
{
}
.view_list_hover:hover div
{
	    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
    background-size: 433px 412px !important;
    background-position: -363px -333px !important;
    background-repeat: no-repeat !important;
    width: 20px !important;
    height: 20px !important;
}

.view_thumb_hover
{
}
.view_thumb_hover:hover div
{
	    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.d5b6c236.png) !important;
    background-size: 433px 412px !important;
    background-position: -388px -189px !important;
    background-repeat: no-repeat !important;
    width: 20px !important;
    height: 20px !important;
}

.news_info_hover
{
}
.news_info_hover div:hover div:nth-child(2)
{
	display: flex !important;
}

.news_info_pointer
{
}
.news_info_hover div div:nth-child(2) div:hover
{
	cursor:pointer !important;
}
.news_info_hover div div:nth-child(2) div label:hover
{
	cursor:pointer !important;
}

.all_label_underline
{
}
.all_label_underline div:hover label
{
	text-decoration: underline !important;
}

.arror_color
{
}
.arror_color:hover div div
{
	border-color: #2a2c2f !important;
}

.hover_btn
{
}
.hover_btn:hover button
{
	display: block !important;
}

.item_btn_hover
{
}
.item_btn_hover div div div div:hover div:nth-child(2)
{
	display: block !important;
}

.papago_hover_btn
{
}
.papago_hover_btn:hover div:nth-child(2) div
{
	    background-color: #1280e2 !important;
}

.placeholder_color
{
}
.placeholder_color::placeholder
{
	color: #ddd !important;
}

.scroll_searchArea
{
}
.scroll_searchArea.fixed
{
	position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 2000 !important;
    width: 100% !important;
    border-radius: 0 !important;
    border-width: 0 0 1px 0 !important;
    animation: ani_dropdown .3s cubic-bezier(0.33, 1, 0.68, 1) !important;
    transform: translate(0) !important;
}

.scroll_searchGroup
{
}
.scroll_searchGroup.fixed
{
	width: 813px !important;
    margin-left: 50px !important;
}

